<h1> EDIT </h1>
 <%# putting this here for now to help distinguish between show and edit as they are very similar %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render "itineraries/shared/itn_title" %>
      <div>
        <p> <%= link_to "See itineraries", itineraries_path %> </p>
        <%# update the href for /activities so it only shows London activities %>
        <p> <%= link_to "See activities", itinerary_activities_path(@itinerary) %> </p>
      </div>
      <%= render "itineraries/shared/itn_list" %>

    </div>
    <%# the above is the same as in part of the show.html.erb page so might wanna make a partial %>
    <div class="col-6">
      <h4> Shortlist </h4>
      <ul>
        <% @favourites.each do |favourite| %>
          <li> <%= favourite.activity.name %> </li>
          <%= button_to 'Add to Itinerary', itinerary_activity_itinerary_activities_path(@itinerary, favourite.activity), method: :post %>
          <%= button_to 'Remove from shortlist', itinerary_activity_favourite_path(@itinerary, favourite.activity, favourite), method: :delete  %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
