<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="itinerary-show-title-card">
        <h2> <%= "#{@itinerary.destination.city} itinerary: #{@itinerary.title}" %> </h2>
        <div class="itinerary-show-title-card-subtitle">
          <% if @itinerary_duration == 1 %>
            <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-regular fa-calendar-days" id=""></i> <%= "#{@itinerary_duration} day (#{@itinerary.start_date})" %> </p>
          <% else %>
            <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-regular fa-calendar-days"></i> <%= "#{@itinerary_duration} days (#{@itinerary.start_date} - #{@itinerary.end_date})" %> </p>
          <% end %>
          <%= simple_form_for(@itinerary, method: :patch) do |f| %>
            <%= f.check_box :public %>
            <%= f.submit "Publish your itinerary?" %>
          <% end %>
        </div>
      </div>
      <div>
      <p> <%= link_to "All My Itineraries", user_itineraries_path(current_user) %></p>
      </div>
      <div>
        <p> Want some inspiration? <%= link_to "Check out itineraries from fellow Tip-a-Trippers", itineraries_path %> </p>
      </div>
      <div>
        <% @itinerary_activities.each do |itinerary_activity| %>
          <div class="itinerary-show-activities-card">
            <div> <%= itinerary_activity.activity.name %> </div>
            <div> <%= itinerary_activity.activity.duration %> minutes </div>
            <%= button_to 'Remove from itinerary', itinerary_activity_itinerary_activity_path(itinerary_activity.itinerary, itinerary_activity.activity, itinerary_activity ), method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
    <%# the above is the same as in part of the show.html.erb page so might wanna make a partial %>
    <div class="col-6">
      <div class="itinerary-favourites-title-card">
        <h4> Shortlist </h4>
      </div>
      <div>
        <%# update the href for /activities so it only shows London activities %>
        <p> <%= button_to "Find activities", itinerary_activities_path(@itinerary), method: :get %> to add to your shortlist </p>
      </div>
        <% @favourites.each do |favourite| %>
            <div class="itinerary-show-favourites-card">
              <%= favourite.activity.name %>
              <% if @itinerary_activities.map(&:activity).include?(favourite.activity) %>
                <%= button_to 'Added', itinerary_activity_itinerary_activities_path(@itinerary, favourite.activity, favourite_id: favourite), disabled: true, method: :post %>
              <% else %>
                <%= button_to 'Add to Itinerary', itinerary_activity_itinerary_activities_path(@itinerary, favourite.activity, favourite_id: favourite), method: :post %>
              <% end %>
              <%= button_to 'Remove from shortlist', itinerary_activity_favourite_path(@itinerary, favourite.activity, favourite), method: :delete  %>
            </div>
          <% end %>
    </div>
  </div>
</div>
