<h1> EDIT </h1>
 <%# putting this here for now to help distinguish between show and edit as they are very similar %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render "itineraries/shared/itn_title" %>
      <div>
        <p> Want some itin-spiration? <%= link_to "Take a look at fellow Tip-a-Trippers' itineraries", itineraries_path %> </p>
      </div>
      <%= render "itineraries/shared/itn_list" %>

    </div>
    <%# the above is the same as in part of the show.html.erb page so might wanna make a partial %>
    <div class="col-6">
      <div class="itinerary-favourites-title-card">
        <h4> Shortlist </h4>
      </div>
      <div>
        <%# update the href for /activities so it only shows London activities %>
        <p> <%= button_to "Find activities", itinerary_activities_path(@itinerary), method: :get  %> to add to your shortlist </p>
      </div>
        <% @favourites.each do |favourite| %>
          <li> <%= favourite.activity.name %> </li>
          <% if @itinerary_activities.map(&:activity).include?(favourite.activity) %>
            <%= button_to 'Added', itinerary_activity_itinerary_activities_path(@itinerary, favourite.activity, favourite_id: favourite), disabled: true, method: :post %>
          <% else %>
            <%= button_to 'Add to Itinerary', itinerary_activity_itinerary_activities_path(@itinerary, favourite.activity, favourite_id: favourite), method: :post %>
          <% end %>
            <%= button_to 'Remove from shortlist', itinerary_activity_favourite_path(@itinerary, favourite.activity, favourite), method: :delete  %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
