<h1> EDIT </h1> <%# putting this here for now to help distinguish between show and edit as they are very similar %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="itinerary-show-title-card">
        <h1> Itinerary: <%= @itinerary.title%> </h1>
        <div class="itinerary-show-title-card-subtitle">
          <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-regular fa-calendar-days"></i> <%= (@itinerary.end_date - @itinerary.start_date).to_i %> days </p>
          <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-solid fa-pencil"></i> <%= @itinerary.user.username%> </p>
        </div>
      </div>
      <div>
        [See itineraries button] AND [See activities button]
      </div>
      <div>
        <ul>
          <% @itinerary_activities.each do |itinerary_activity| %>
            <div class="itinerary-show-activities-card">
              <li>
                <div> <%= itinerary_activity.activity.name %> </div>
                <div> <%= itinerary_activity.activity.duration %> minutes </div>
                <%# code a button that if you click it then the favourite will get removed from itinerary_activities array %>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>

    <%# the above is the same as in part of the show.html.erb page so might wanna make a partial %>

    <div class="col-6">
      <h4> Shortlist </h4>
        <ul>
          <% @favourites.each do |favourite| %>
              <li> <%= favourite.activity.name %> </li>
              <%# code a button that if you click it then the favourite will get added to itinerary_activities array %>
              <%# code another button that if you click it then the favourite will get removed from itinerary_activities array %>
          <% end %>
        </ul>
    </div>
  </div>
</div>
