<% if params[:user_id].nil? %>
  <%= form_with url: itineraries_path, method: :get, class: "d-flex search-form" do %>
    <%= content_tag :span, "", class: "fa fa-search search-icon" %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control rounded-pill mr-sm-2 ",
      placeholder: "Browse Itineraries... "
    %>
    <% submit_tag "Search", class: "btn btn-primary " %>
  <% end %>
<div class="itinerary-container">
  <div class="itineraries">
    <%@itineraries.each do |itinerary|%>
      <% if itinerary.public? %>
       <%# <%= cl_image_tag d.photo.key, height: 300, crop: :fill %>
        <%= link_to itinerary_path(itinerary), class: "image-link" do %>
          <div class="card-itinerary imageh">
              <%= cl_image_tag itinerary.destination.photo.key, class:"image__img"%>
              <div class="image__overlay">
                <div class="image__title"> <%= itinerary.destination.city%> </div>
                <div class="image__title"> <%= itinerary.title%>
                </div>
                <div class ="image__title">
                  <% duration = (itinerary.end_date - itinerary.start_date).to_i  %>
                  <% if duration == 1 %>
                    <%= "#{duration} day" %>
                  <% else %>
                    <%= "#{duration} days" %>
                  <% end %>
                </div>
              </div>
            <div class="sidebar hover"> </div>
            <% if itinerary.user.photo.attached? %>
              <%= cl_image_tag itinerary.user.photo.key, class:"itinerary_avatar_img avatar" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% elsif params[:user_id] %>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="mt-6">
            <h1> <%= current_user.username %>'s Dashboard </h1>
          </div>
          <div class="itineraries2">
            <% @itineraries.each do |itinerary|%>
              <% original_itinerary = Itinerary.find(itinerary.original_itinerary_id) %>
              <% path = original_itinerary.user == current_user && itinerary.end_date >= Date.today ? edit_itinerary_path(itinerary) : itinerary_path(itinerary) %>
              <% if itinerary.user == current_user %>
                <div class="card-itinerary stacked--up-left imageh">
                  <%= link_to path, class: "image-link" do %>
                    <%= cl_image_tag original_itinerary.destination.photo.key, class:"image__img"%>
                    <div class="image__overlay">
                      <div class="image__title"> <%= original_itinerary.destination.city%> </div>
                      <div class="image__user"> <%= original_itinerary.title%> </div>
                    </div>
                    <% if original_itinerary.user.photo.attached? %>
                      <%= cl_image_tag original_itinerary.user.photo.key, class:"itinerary_avatar_img avatar" %>
                    <% end %>
                  <% end %>
                  <div class="sidebar hover"> </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-4">
          <div class="steal-card" style="height: 500px; margin-top: 64px;">
            <h2>Tip-a-Trip Stats</h2>
            <%# <% counter_trips = 0 %> %>
            <%# <% @itineraries.each do %> %>
              <%# <% counter_trips += 1 if itinerary.user == current_user %> %>
              <%# <% return counter_trips %> %>
            <%# <% end %> %>
            <%# <p>Total Trips: <%= counter_trips %></p> %>
            <%# count where itinerary.user = current_user %>
            <p>Total Tips: <%=  %></p>
            <%# count where itinerary.original.user = current_user %>
            <p>Total Tips Tripped: </p>
            <%# count where itinerary.original.user = current_user %>
            <p></p>
          </div>
        </div>
      </div>
    </div>

<% end %>
