<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="itinerary-show-title-card">
        <h1>Let's build your new itinerary</h1>
        <div class="itinerary-show-title-card-subtitle">
          <p class="itinerary-show-title-card-subtitle-text">
            Complete the form below to get started
          </p>
          <p class="itinerary-show-title-card-subtitle-text">
            <%# <span><i class="fa-solid fa-pencil"></i><%= current_user.username</span> %>
          </p>
        </div>
      </div>
      <div class="card-new-itinerary-form">
        <%= simple_form_for @itinerary do |f| %>
          <%= f.input :destination, collection: @destination_cities.sort, include_blank: '--Select the destination of your trip!--', required: true, label: 'Destination' %>
          <%= f.input :title, placeholder: "E.g. 'Hidden Gems', 'Must-Sees', 'For All The Family', 'A Foodie's Dream'", required: true, label: 'Title' %>
          <%= f.input :start_date, required: true, as: :date, html5: true%>
          <%= f.input :end_date, required: true, as: :date, html5: true%>
          <div class="d-flex justify-content-center">
            <%= f.submit value="Get Started", class: "dark"%>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <%# <div id="destination-image"> %>
        <%= image_tag "globe.png", class: "destination-image" %>
      <%# </div> %>
    </div>
  </div>
</div>
<%# <script>
$(document).ready(function() {
  $('#destination-select').on('change', function() {
    var destination = $(this).val();
    var imageSrc = '';
    if (destination === 'London') {
      imageSrc = 'https://media.cntraveler.com/photos/55c8be0bd36458796e4ca38a/master/pass/london-eye-2-cr-getty.jpg';
    } else if (destination === 'Paris') {
      imageSrc = 'https://media.istockphoto.com/photos/eiffel-tower-in-spring-picture-id1297043676?b=1&k=20&m=1297043676&s=170667a&w=0&h=kXklVKUeWIw7UWDDYnxMzB3uXS9prFiea3RaRPyB5M0=';
    }

    if (imageSrc !== '') {
      $('#destination-image').html('<img src="' + imageSrc + '">');
    } else {
      $('#destination-image').empty();
    }
  });
});
</script> %>
