<h1> SHOW </h1> <%# putting this here for now to help distinguish between show and edit as they are very similar %>
<div class="container" style ="height:vh100;">
  <div class="row">
    <div class="col-6">
      <div class="itinerary-show-title-card">
        <h1> Itinerary: <%= @itinerary.title%> </h1>
        <div class="itinerary-show-title-card-subtitle">
          <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-regular fa-calendar-days"></i> <%= (@itinerary.end_date - @itinerary.start_date).to_i %> days </p>
          <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-solid fa-pencil"></i> <%= @itinerary.user.username%> </p>
          <%= simple_form_for(@itinerary, method: :patch) do |f| %>
          <%= f.check_box :public %>
          <%= f.submit "Publish?" %>
          <% end %>
        </div>
      </div>
      <div>
        <ul>
          <% @itinerary_activities.each do |itinerary_activity| %>
            <div class="itinerary-show-activities-card">
              <li>
                <div> <%= itinerary_activity.activity.name %> </div>
                <div> <%= itinerary_activity.activity.duration %> minutes </div>
                <%# code a button that if you click it then the favourite will get removed from itinerary_activities array %>
              </li>
            </div>
          <% end %>
        </ul>
        <% if @itinerary.user == current_user %>
          <%= link_to 'Back to My Itineraries', user_itineraries_path(current_user) %>
        <% else %>
          <%= link_to 'Back to Itineraries', itineraries_path %>
        <% end %>
      </div>
    </div>


      <%# the above is the same as in part of the edit.html.erb page so might wanna make a partial %>

    <div class="col-6">
      <p> Like the look of <%= @itinerary.user.username %>'s itinerary? Use it for your own trip to <%= @itinerary.destination.city %>! </p>
      <form action="/itineraries" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="original_itinerary_id" value="<%= @itinerary.id %>">
        <label for="start">Start date:</label>
        <input type="date" id="start" name="start_date" value="Start date" min="">
        <%# javascript click event to display end_date to user, based on start_date + (original.end_date - original.start_date) %>
        <input type="submit" name="commit" value="Use this itinerary">
      </form>
    </div>
  </div>
</div>
