<div class="container" style ="height:vh100;">
  <div class="row">
    <div class="col-6">
      <div class="itinerary-show-title-card">
        <h2> <%= "#{@itinerary.destination.city} itinerary: #{@itinerary.title}" %> </h2>
        <div class="itinerary-show-title-card-subtitle">
          <% if @itinerary_duration == 1 %>
            <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-regular fa-calendar-days" id=""></i> <%= "#{@itinerary_duration} day (#{@itinerary.start_date})" %> </p>
          <% else %>
            <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-regular fa-calendar-days"></i> <%= "#{@itinerary_duration} days (#{@itinerary.start_date} - #{@itinerary.end_date})" %> </p>
          <% end %>
          <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-solid fa-pencil"></i> <%= @itinerary.user.username%> </p>
        </div>
      </div>
      <div class="itinerary-showpage-list-scroll" style="overflow-y:scroll; height:500px;">
        <% @itinerary_activities.each do |itinerary_activity| %>
          <div class="itinerary-show-activities-card">
            <div> <%= itinerary_activity.activity.name %> </div>
            <div> <%= itinerary_activity.activity.duration %> minutes </div>
          </div>
        <% end %>
      </div>
      <div>
        <% if @itinerary.user == current_user %>
          <%= link_to 'Back to My Itineraries', user_itineraries_path(current_user) %>
        <% else %>
          <%= link_to 'Back to Itineraries', itineraries_path %>
        <% end %>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="steal-card" style="background: white; border: solid 0.5px; padding: 26px; border-radius: 5%; height: 300px; width: 400px;">
        <% if @original_itinerary.user = current_user %>
          <p> Enjoyed your <%= @itinerary.destination.city %> itinerary that much!? </p>
          <p> Go ahead and use it again! </p>
        <% else %>
          <p> Like the look of <%= @itinerary.user.username %>'s itinerary? </p>
          <p> Use it for your own trip to <%= @itinerary.destination.city %>! </p>
        <% end %>
        <form action="/itineraries" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%# <input id="comment_submit" name="commit" src="/assets/button.png" type="image" value="Comment" width="100px" height="100px"/> %>
          <input type="submit" name="commit" value="Clone this itinerary" class="steal-button">
          <input type="hidden" name="original_itinerary_id" value="<%= @itinerary.id %>">
          <label for="start">Start date:</label>
          <input type="date" id="start" name="start_date" value="Start date" min="">
          <%# javascript click event to display end_date to user, based on form start_date + @itinerary_duration %>
        </form>
      </div>
    </div>
  </div>
</div>
