<div class="container" style ="height:vh100;">
  <div class="row">
    <div class="col-6">
      <%= render "itineraries/shared/itn_title" %>
      <%= render "itineraries/shared/itn_list" %>
      <div>
        <% if @itinerary.user == current_user %>
          <%= link_to 'Back to My Itineraries', user_itineraries_path(current_user) %>
        <% else %>
          <%= link_to 'Back to Itineraries', itineraries_path %>
        <% end %>
      </div>
    </div>


      <%# the above is the same as in part of the edit.html.erb page so might wanna make a partial %>

    <% unless @itinerary.user == current_user || @original_itinerary.user == current_user %>

    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="steal-card" style="background: white; border: solid 0.5px; padding: 26px; border-radius: 5%; height: 300px; width: 400px;">
        <p> Like the look of <%= @itinerary.user.username %>'s itinerary? </p>
        <p> Use it for your own trip to <%= @itinerary.destination.city %>! </p>
        <form action="/itineraries" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%# <input id="comment_submit" name="commit" src="/assets/button.png" type="image" value="Comment" width="100px" height="100px"/> %>
          <input type="submit" name="commit" value="Clone this itinerary" class="steal-button">
          <input type="hidden" name="original_itinerary_id" value="<%= @itinerary.id %>">
          <label for="start">Start date:</label>
          <input type="date" id="start" name="start_date" value="Start date" min="">
          <%# javascript click event to display end_date to user, based on form start_date + @itinerary_duration %>
        </form>
      </div>
    </div>
    <% end %>
  </div>
</div>
