<h1>Itinerary#show</h1>
<p>Find me in app/views/itinerary/show.html.erb</p>

<h1> Itinerary: <%= @itinerary.title%> </h1>


favourites
<% @favourites.each do |favourite| %>
    <%= favourite.name  %>
<% end %>


Activities
<% @itinerary_activities.each do |activity| %>
    <%= activity.name  %>
<% end %>

Add this Itinerary
<form action="/itineraries" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="original_itn_id" value="<%= @itinerary.id %>">
  <input type="submit" name="commit" value="Add">
</form>
