<div class="home-background">
  <div class="row">
    <div class="col-4 logotext">
      <%= image_tag "logo.png", class: "image" %>
    </div>
    <div class="col-8 hometext">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title fonttitle d-flex justify-content-center">Welcome to Tip-a-Trip</h1>
        </div>
        <div class="container-paragraphs">
          <h3 class="card-subtitle mb-2 text-muted"> </h3>
          <p class="card-text font">
            Here, you can easily create and customise your travel itinerary to make your trip planning experience simple and stress-free.
          </p>
          <p class="card-text font">
            Tip-a-Trip also provides helpful information and recommendations on popular destinations, top-rated attractions, and must-visit landmarks, ensuring that you make the most out of your trip.
          </p>
          <p class="card-text font">
            Whether you're planning a weekend getaway or a longer stay, our itinerary builder website is the perfect tool to help you plan your dream trip. Start creating your personalised itinerary today and embark on your next adventure with ease!
          </p>
          <p class="card-text font small">
            Create. Share. Travel
          </p>
        </div>
        <div class ="buttonspacing">
          <li class="nav-item button d-flex ">
          <%= link_to "Browse Itineraries", itineraries_path,
          class: "btn btn-outline-success dark rounded-pill my-2 my-sm-0 btn-create-new" %>
          <%= link_to "Build Your Itinerary", new_itinerary_path, class: "btn btn-outline-success dark rounded-pill my-2 my-sm-0 btn-create-new" %>
          <% if current_user %>
            <%= link_to "My Dashboard",user_itineraries_path(current_user), class: "btn btn-outline-success dark py-2 rounded-pill my-2 my-sm-0 btn-create-new " %>
          <% end %>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer">
  <marquee scrollamount="8" direction="right" style="object-fit:fill;">
    <%= image_tag "plane.png", height: 60 %>
  </marquee>
</footer>
