<div class="itinerary-show-title-card">
  <h2> <%= "#{@itinerary.destination.city} itinerary: #{@itinerary.title}" %> </h2>
  <div class="itinerary-show-title-card-subtitle">
    <% if @itinerary_duration == 1 %>
      <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-regular fa-calendar-days" id=""></i> <%= "#{@itinerary_duration} day (#{@itinerary.start_date})" %> </p>
    <% else %>
      <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-regular fa-calendar-days"></i> <%= "#{@itinerary_duration} days (#{@itinerary.start_date} - #{@itinerary.end_date})" %> </p>
    <% end %>
    <p class="itinerary-show-title-card-subtitle-text"> <i class="fa-solid fa-pencil"></i> <%= @itinerary.user.username%> </p>
    <% if @itinerary.user == current_user %>
      <%= simple_form_for(@itinerary, method: :patch) do |f| %>
        <%= f.check_box :public %>
        <%= f.submit "Publish?" %>
      <% end %>
    <% end %>
  </div>
</div>
