<!DOCTYPE html>
<html>
  <head>
    <title>Tip-a-Trip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>

    <% if request.original_url != "http://localhost:3000/" && request.original_url != "tip-a-trip.herokuapp.com" %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>

  <% unless current_page?(root_path) %>
     <%= render partial: "shared/mainfooter" %>
  <% end %>
  </body>

</html>
