<!DOCTYPE html>
<html>
  <head>
    <title>Tip-a-Trip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <% unless current_page?(root_path) %>
      <div class="home-container">
    <% end %>
        <% unless controller_name == 'pages' %>
          <%= render "shared/navbar" %>
        <% end %>
        <%= render "shared/flashes" %>

        <div>
          <%= yield %>
        </div>

        <div>
          <% unless current_page?(root_path) %>
            <%= render partial: "shared/mainfooter", class: 'footer' %>
          <% end %>
        </div>
    <% unless current_page?(root_path) %>
      </div>
    <% end %>
  </body>

</html>
